# --- Web & UI ---
streamlit

# --- AI Orchestration & Graph ---
langchain
langchain-core
langchain-groq
langchain-community
langchain-text-splitters
langgraph
langchain-huggingface
sentence-transformers
huggingface_hub

# --- Data Validation & Logic ---
jsonschema==4.21.1
python-dotenv==1.0.1

# --- Utilities ---
rich==13.7.1
markdown==3.5.2
torch
torchvision
